node_modules
*.log*
.nuxt
.vite
.nitro
.cache
.output
.env
dist

.DS_Store
dist-ssr
coverage
*.local
/img
README.md
.package-lock.json

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.lock
Новая папка
package-lock.json
package-lock.json
