h1 {
	letter-spacing: -0.025em;
	line-height: 1.375;
}

h2 {
	font-size: 2.25rem;
	font-weight: 700;
	margin-bottom: max(3%, 1rem);
}

h3 {
	display: inline-block;
	margin-bottom: max(2%, 0.5rem);
	padding-bottom: 0.4%;

	&::after {
		content: '';
		position: absolute;
		right: 0;
		left: 0;
		bottom: 0;
		height: 2px;
		background: linear-gradient(
			90deg,
			#00000000 10%,
			#f2f2f269 53%,
			rgba(0, 0, 0, 0) 90%
		);
	}
}

h4 {
	opacity: 0.7;
}

p {
	font-size: max(1rem, 0.7vmax);
	font-weight: 500;
}
.img {
	text-align: center;
	img {
		width: 40rem;
	}
}

.icon {
	width: 1.9em;

	position: absolute;
	transform: translateY(-50%);
	top: 35%;
}

.block {
	margin: 4rem 0 3rem;
}
.mini-block {
	margin-top: max(2%, 0.5rem);
}

.conclusion {
	text-align: center;
	margin-bottom: 0.5rem;
}

.headline h2 {
	display: inline-block;
}

@media (max-width: 1200px) {
	h2 {
		display: block !important;
	}

	.mini-block {
		text-align: center;
		display: block;
	}
	.icon {
		position: relative;
		transform: initial;
		top: initial;
		margin-inline: auto;
		width: 8rem;
		display: block;
	}
	.icon-mini {
		width: 4em !important;
		left: 0;
	}
}
