@import '_normalize';
@import '_variables';
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wdth,wght@90.4,447&family=Roboto+Mono:wght@400;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: 0;
	min-height: 0;
	min-width: 0;
	position: relative;
}

*,
html {
	::-webkit-scrollbar {
		background-color: #202324;
		color: #aba499;
	}
	::-webkit-scrollbar-corner {
		background-color: #181a1b;
	}
	::-webkit-scrollbar-thumb {
		background-color: #454a4d;
	}
}

body {
	min-height: 100vh;
	font-size: 100%;
	font-weight: 700;
	color: #d1cdc7;
	background: var(--color-background);
	transition: color 0.5s, background-color 0.5s;
	line-height: 1.6;
	font-family: 'Roboto Mono', monospace;
	font-size: 15px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}

section {
	scroll-margin-top: 4rem;
	min-height: 100vh;
	scroll-snap-align: start;
}

p {
	word-break: break-all;
}

g {
	width: 3rem;
}

a {
	color: #d1cdc7;
	text-decoration: none;
	transition: 0.4s;
}
h1 {
	font-size: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}

button {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	padding: 0;
}

li {
	list-style: none;
}

.icon-style {
	color: #753ceb;
}

.container {
	max-width: 56vw;
	margin: 0 auto;
	padding: 0 15px;
}

.main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-height: 100vh;
	background-color: var(--app-bc);
}

.noCode,
.freelancerApproach,
.developerApproach {
	min-height: 100vh;
}

.carousel__img {
	display: block;
	width: clamp(45vw, 135vmin, 77vw);
	margin-inline: auto;
}
