@import '_normalize';
@import '_variables';
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wdth,wght@90.4,447&family=Roboto+Mono:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: 0;
	min-height: 0;
	min-width: 0;
	position: relative;
}

*,
html {
	::-webkit-scrollbar {
		background-color: #202324;
		color: #aba499;
	}
	::-webkit-scrollbar-corner {
		background-color: #181a1b;
	}
	::-webkit-scrollbar-thumb {
		background-color: #454a4d;
	}
}

body {
	// min-height: calc(100vh - var(--header-size));
	min-height: 100vh;
	font-size: 100%;
	font-weight: 700;
	color: #d1cdc7;
	background-color: var(--app-bc);
	transition: color 0.5s, background-color 0.5s;
	line-height: 1.6;
	font-family: 'Roboto Mono', monospace;
	font-size: 100%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

section {
	scroll-snap-align: start;
	min-height: calc(100vh - var(--header-size));
}

p {
	word-break: break-all;
	font-weight: 500;
}

a {
	color: #d1cdc7;
	text-decoration: none;
	transition: 0.4s;
	font-size: max(1rem, 0.8cqw);
}
h1 {
	font-size: max(4rem, 4cqw);
}

h2 {
	font-size: max(1.5rem, 1.3cqw);
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}

button {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	padding: 0;
}

li {
	list-style: none;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.icon-style {
	color: var(--main-color);
}

.container {
	max-width: max(100ch, 56vw);
	margin: 0 auto;
	padding: 0 15px;
}
